@model EmployeeManagement.ViewModels.HomeDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Details";
}

 <h3>@ViewBag.PageTitle</h3> 


 <div>
    Name: @Model!.Employee.Name
</div>
<div>
    Email: @Model!.Employee.Email
</div>
<div>
    Department: @Model!.Employee.Department
</div>

@* Note: Now our view is a strongly typed view. We can access the properties of the Employee model using the Model keyword.
It uses the "@model EmployeeManagement.Models.Employee" directive to specify the model type for the view. *@

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}