@model EmployeeManagement.Models.Employee



 <h3>@ViewBag.PageTitle</h3> 


 <div>
    Name: @Model!.Name
</div>
<div>
    Email: @Model!.Email
</div>
<div>
    Department: @Model!.Department
</div>

@* Note: Now our view is a strongly typed view. We can access the properties of the Employee model using the Model keyword.
It uses the "@model EmployeeManagement.Models.Employee" directive to specify the model type for the view. *@