

@{
    ViewBag.Title = "Delete User";
}

<h1 class="text-danger">Delete User</h1>

<p>This part of code will be implemented later</p>

<a asp-controller="home" asp-action="index" class="btn btn-outline-success" style="width:auto">
    Click here to navigate to the home page
</a>